///// Colors definition /////
// -----------------------------------------------------------------------------
$text: #555;
$inputBgnd: #fafafa;
$darkGray: #434343;
$link: #00a5ff;
$title: #333;
$separator: #d7d7d7;
$footerBgnd: #3e3e3e;
$grayText: #858585;
$sliderIndicator: #dbdbdb;
$sliderIndicatorActive: #b3b3b3;
$inputBorder: #909090;
$bordered: #aaa;
$footerText: #aaa;
//
$white: #fff;
$black: #000;
$gray: #ccc;
$red: #cc0000;
$blue: #00a5ff;
$lightGray: #a8a8a8;
$lighterGray: #f0f0f0;
