///// Typography configuration /////
// -----------------------------------------------------------------------------
$font_size: 13px;
//
$heading_1: 42px;
$heading_2: 26px;
$heading_3: 15px;
$heading_4: 18px;
$heading_5: 16px;
$heading_6: 14px;
//
$line_h: floor(($font_size * 1.5));
//
$small_font: 11px;
$large_font: 16px;

///// Web fonts configuration /////
// -----------------------------------------------------------------------------
$font_path: "../font/";
$font_base: "aller_rg-webfont";
$font_bold: "aller_bd-webfont";
$font_light: "aller_lt-webfont";

@font-face {
  font-family: 'Aller Bold';
  src: url('#{$font_path}#{$font_bold}.eot');
  src: url('#{$font_path}#{$font_bold}.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}#{$font_bold}.woff') format('woff'),
    url('#{$font_path}#{$font_bold}.ttf') format('truetype'),
    url('#{$font_path}#{$font_bold}.svg#allerbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller Light Regular';
  src: url('#{$font_path}#{$font_light}.eot');
  src: url('#{$font_path}#{$font_light}.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}#{$font_light}.woff') format('woff'),
    url('#{$font_path}#{$font_light}.ttf') format('truetype'),
    url('#{$font_path}#{$font_light}.svg#aller_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aller Regular';
  src: url('#{$font_path}#{$font_base}.eot');
  src: url('#{$font_path}#{$font_base}.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}#{$font_base}.woff') format('woff'),
    url('#{$font_path}#{$font_base}.ttf') format('truetype'),
    url('#{$font_path}#{$font_base}.svg#allerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$fontTitle: 'Aller Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontTitleLight: 'Aller Light Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontTitleBold: 'Aller Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_base: "Helvetica Neue", Helvetica, Arial, sans-serif;

///// Glyphicons configuration /////
// -----------------------------------------------------------------------------
$icon_font_path: "../stylesheets/fonts/bootstrap/";
$icon_font_name: "glyphicons-halflings-regular";
//
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$icon_font_path}#{$icon_font_name}.eot');
  src: url('#{$icon_font_path}#{$icon_font_name}.eot?#iefix') format('embedded-opentype'),
       url('#{$icon_font_path}#{$icon_font_name}.woff') format('woff'),
       url('#{$icon_font_path}#{$icon_font_name}.ttf') format('truetype'),
       url('#{$icon_font_path}#{$icon_font_name}.svg##{$icon-font-svg-id}') format('svg');
}

///// Grid size /////
// -----------------------------------------------------------------------------
$max_width: 1030px;

///// Icons location /////
// -----------------------------------------------------------------------------
$icons: "../images/icons";
