.header {
  @include box-shadow(0 4px 4px -2px rgba(0,0,0,0.35));
  position: relative;
  z-index: 1000;
}

.logo {
  padding: 20px 0;
  h2 {
    height: 43px;
    padding-bottom: 0;
  }
  a {
    display: inline-block;
  }
}

.nav-holder {
  margin-bottom: 0;
  font-family: $fontTitle;
  font-size: 15px;
  text-transform: uppercase;
  &.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .nav {
    position: static;
    @include reset-list();
    @include clearfix();
    li {
      margin-left: 20px;
      font-size: 16px;
      line-height: 20px;
      padding-top: 35px;
      a {
        padding: 0;
        text-shadow: none;
        color: $black;
        text-decoration: none;
        @include transition(color, 0.2s ease);
        &:hover {
          color: $blue;
          background: none;
        }
      }
      &.active {
        border-top: 3px solid $blue;
        padding-top: 32px;
        a {
          background: none;
          @include box-shadow(none);
          color: $blue;
          &:hover {
            background: none;
            color: $blue;
            @include box-shadow(none);
          }
        }
      }
    }
  }
}

/* Mobile nav*/
.mob-menu-trigger {
  display: none;
  z-index: 9999;
  &:active {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
  &.btn {
    padding: 0;
    width: 38px;
    @include border-radius(0);
    border: none;
    @include box-shadow(none);
    background: none;
  }
  .icon-bar {
    background: $black;
    height: 3px;
    width: 38px;
    margin: 0 0 6px 0;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}