///// Icons configuration /////
// -----------------------------------------------------------------------------
[class^="icon-"] {
  @include icon(24px, $icons);
  @include background-size(296px 296px);
}

[class^="iconsmall-"] {
  @include icon-small(16px, $icons);
  @include background-size(248px 248px);
}

[class^="iconfooter-"] {
  @include icon-footer(45px, $icons);
  @include background-size(273px 273px);
}

// Icon base
.icon-visual {background-position: -8px -8px;}
.icon-cms {background-position: -40px -8px;}
.icon-consult {background-position: -72px -8px;}
.icon-design {background-position: -104px -8px;}
.icon-develop {background-position: -136px -8px;}
.icon-responsive {background-position: -168px -8px;}
.icon-seo {background-position: -200px -8px;}
.icon-social {background-position: -232px -8px;}
//
// Icon small
.iconsmall-email {background-position: -8px -8px;}
.iconsmall-phone {background-position: -32px -8px;}
.iconsmall-code {background-position: -56px -8px;}
.iconsmall-web {background-position: -80px -8px;}
.iconsmall-mobile {background-position: -104px -8px;}
.iconsmall-design {background-position: -128px -8px;}
.iconsmall-cms {background-position: -152px -8px;}
//
// Icon footer
.iconfooter-twitter {background-position: -8px -8px;}
.iconfooter-behance {background-position: -61px -8px;}
.iconfooter-face {background-position: -114px -8px;}
.iconfooter-linkedin {background-position: -167px -8px;}
.iconfooter-bottom {background-position: -220px -8px;}
.iconfooter-twitter-color {background-position: -8px -61px;}
.iconfooter-face-color {background-position: -114px -61px;}
.iconfooter-linkedin-color {background-position: -167px -61px;}