///// Layout configuration /////
// -----------------------------------------------------------------------------
.container-fluid {
  max-width: $max_width;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

body {
  font-size: $font_size;
  line-height: 21px;
  color: $text;
  background: $white;
  font-family: $font_base;
  @include font-fix();
  &.mob-menu-toright {
    overflow: hidden;
  }
}

.push {
  height: 167px;
}

.page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -167px;
}

.header {
  position: relative;
  z-index: 1000;
}

.content {
  padding: 50px 0 70px 0;
  #more-info & {
    padding: 0;
  }
}

.footer {
  background: $footerBgnd;
  height: 167px;
  color: $footerText;
}
