///// Portrait tablet to landscape and desktop /////
// -----------------------------------------------------------------------------
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 22px;
    line-height: 28px;
  }
  h2 {
    font-size: 22px;
    line-height: 28px;
  }
  h4 {
    font-size: 16px;
  }
  .tnx-block {
    margin: 20px 0 0 0;
  }
  .convincer {
    padding: 10px 0;
    margin-bottom: 0;
    &.big {
      background: url('../images/convincer-bgnd.jpg') no-repeat 0 0;
      background-size: cover;
      padding-top: 90px;
      padding-bottom: 40px;
    }
    h1 {
      font-size: 42px;
      line-height: 50px;
      padding-top: 20px;
    }
    h5 {
      line-height: 30px;
      padding-bottom: 34px;
      padding-right: 0;
    }
  }

}

///// Landscape phone to portrait tablet /////
// -----------------------------------------------------------------------------
@media (max-width: 767px) {
  h1 {
    font-size: 22px;
    line-height: 28px;
  }
  h2 {
    font-size: 22px;
    line-height: 28px;
  }
  h4 {
    font-size: 16px;
  }
  .tnx-block {
    margin: 20px 0 0 0;
  }
  .convincer {
    padding: 10px 0 34px 0;
    margin-bottom: 0;
    &.big {
      background: url('../images/convincer-bgnd.jpg') no-repeat 0 0;
      background-size: cover;
      padding-top: 80px;
      padding-bottom: 33px;
      h5 {
        padding: 0;
      }
    }
    h1 {
      font-size: 30px;
      padding-top: 20px;
      line-height: 42px;
      text-align: center;
    }
    h5 {
      font-size: 18px;
      line-height: 28px;
      padding-bottom: 34px;
      padding-right: 0;
      text-align: center;
    }
  }
  .mob-menu-trigger {
    display: block;
    position: absolute;
    top: -59px;
    right: 15px;
  }
  .mob-menu-nav {
    position: fixed;
    background: #333;
  }
  .mob-menu-vertical {
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }
  .mob-menu-right {
    right: -200px;
    &.mob-menu-open {
      right: 0;
      overflow: auto;
    }
  }
  .mob-menu {
    position: relative;
    right: 0;
  }
  .mob-menu-toleft {
    right: 200px;
  }
  .mob-menu,
  .mob-menu-nav {
    @include transition(all 0.2s ease);
  }
  .nav-holder {
    text-transform: none;
    .nav {
      padding-top: 23px;
      &.pull-right {
        float: none !important;
        clear: both;
      }
      li {
        margin-left: 0;
        padding-top: 0;
        font-family: $fontAlpha;
        font-weight: 300;
        &:first-child {
          a {
            border-top: none;
          }
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
        a {
          color: #acacac;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid #232323;
          border-top: 1px solid #3d3d3d;
          line-height: 16px;
          &:hover {
            text-decoration: none;
            background: $black;
            color: $white;
          }
          &:active {
            color: $white;
            background: $black;
          }
        }
        &.active {
          border-top: none;
          padding-top: 0;
          font-family: $fontAlpha;
          a {
            background: $black;
            &:hover {
              background: $black;
            }
          }
        }
      }
    }
  }
  .bordered {
    border-top: 1px dashed $bordered;
    border-left: 0;
    margin-top: 33px;
    padding: 35px 0 0 0;
    ul {
      li {
        margin-bottom: 10px;
      }
    }
  }
  .services {
    padding-bottom: 0;
    p {
      margin-bottom: 42px;
    }
  }
  .footer-nav {
    font-size: 14px;
    li {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .portfolio-list {
    margin-bottom: 0;
    ul {
      margin-bottom: 40px;
      padding-bottom: 30px;
      border-bottom: 1px dashed $bordered;
    }
    &:last-child {
      .equal {
        &:last-child {
          ul {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
  .assertion-wrap {
    h2 {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 31px;
    }
    &.colored {
      .rtl {
        text-align: left;
      }
    }
    .centered-image {
      text-align: center;
      img {
        display: inline-block;
      }
    }
  }

  .button-group {
    margin-bottom: 20px;
    a {
      display: block;
      padding: 13px 20px 11px;
      margin: 0 0 10px;
    }
  }

}

@media (max-width: 358px) {
  .footer-nav {
    font-size: 12px;
  }
}
