@media (max-width: 767px) {
  .blog-nav {
    padding: 0;
    background: none;
    .nav-holder {
      text-transform: uppercase;
      .nav {
        padding-top: 0;
        li {
          margin-left: 0;
          display: block;
          a {
            background: rgba(0,0,0, 0.5);
            display: block;
            padding: 10px 0 9px;
            border: 1px solid transparent;
            line-height: 16px;
            margin: 0 10px 10px 10px;
            &:hover {
              text-decoration: none;
              color: $white;
              border: 1px solid $white;
              background: rgba(0,0,0, 0.7);
            }
            &:active {
              text-decoration: none;
              color: $white;
              border: 1px solid $white;
              background: rgba(0,0,0, 0.7);
            }
          }
          &.active,
          &.current-post-parent {
            a {
              text-decoration: none;
              color: $white;
              border: 1px solid $white;
              background: rgba(0,0,0, 0.7);
            }
          }
        }
      }
    }
  }
  .assertion-wrap {
    h2 {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 31px;
    }
    &.colored {
      .rtl {
        text-align: left;
      }
    }
    .centered-image {
      text-align: center;
      img {
        display: inline-block;
      }
    }
  }

  .btn {
    display: block;
    width: 100%;
  }

  .button-group {
    margin-bottom: 20px;
    a {
      display: block;
      margin: 0 0 10px;
    }
  }

}

@media (max-width: 411px) {
  .footer {
    height: auto;
  }
  .footer-nav {
    li {
      margin: 0 0 10px 0;
      display: block;
      &:last-child {
        margin: 0;
      }
    }
  }
}
