// About block styling
// -------------------
.about-block {
  .pull-left {
    margin-right: 20px;
  }
}

.photo {
	.visible-xs & {
		margin-right: 10px;
    margin-bottom: 10px;
	}
  img {
    @include border-radius(120px);
    margin: 0 auto;
    width: 240px;
    .visible-xs & {
    	@include border-radius(50px);
      margin: 0;
      width: 100px;
    }
  }
}
