// About block styling
// -------------------
.about-block {
  .pull-left {
    margin-right: 20px;
  }
  ul {
    padding-left: 18px;
    margin-bottom: 30px;
    li {
      margin-bottom: 4px;
    }
  }
}

.about-text-wrap {
  display: flex;
  justify-content: space-between;
  .about-info {
    width: 800px;
    margin-right: 60px;
    @media (max-width: 767px) {
      order: 2;
      margin-right: 0;
    }
  }

  .about-photo {
    width: 240px;
    @media (max-width: 767px) {
      order: 1;
      margin-right: 20px;
    }
    img {
      @include border-radius(50%);
      margin: 0 auto;
      width: 240px;
    }
  }
}
