// Button styling
// --------------
.btn {
  line-height: 19px;
  padding: 13px 20px 11px;
  font-weight: 600;
  text-transform: uppercase;
  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
  &.btn-info {
    @include transition(background-color 0.3s ease-in-out, border-color 0.3s ease-in-out);
  }
}

.button-group {
  margin-bottom: 39px;
  @media (max-width: 767px) {
     margin-bottom: 20px;
  }
  a {
    @include transition(border 0.2s ease-in-out, background 0.2s ease-in-out);
    @include border-radius(4px);
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 20px 11px;
    font-weight: 600;
    margin: 0 4px;
    background: rgba(0,0,0, 0.5);
    color: $white;
    border: 1px solid transparent;
    &:hover {
      text-decoration: none;
      color: $white;
      border: 1px solid $white;
      background: rgba(0,0,0, 0.7);
    }
    @media (max-width: 767px) {
      display: block;
      margin: 0 0 10px;
    }
  }
}
