///// Convincer styling /////
// -----------------------------------------------------------------------------
.convincer {
  padding-top: 78px;
  padding-bottom: 78px;
  background: url('../images/convincer-bgnd.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  h5 {
    line-height: 30px;
    color: $white;
    font-size: 20px;
  }
  &.big {
    background: url('../images/convincer-bgnd.jpg') no-repeat center center fixed;
    text-align: center;
    background-size: cover;
    padding-top: 176px;
    margin-top: -84px;
    padding-bottom: 93px;
    position: relative;
    h1 {
      margin-bottom: 33px;
    }
    h5 {
      margin-bottom: 28px;
      padding: 0 120px;
    }
    .more-scroll {
      color: $white;
      &:hover {
        color: $white;
      }
      i {
        @include opacity(0.5);
        @include transition(opacity 0.3s ease-in-out);
      }
      &:hover {
        i {
          @include opacity(1);
        }
      }
    }
  }
  &-blog {
    padding-bottom: 0;
  }
}
