// Menu styling
// ------------
.nav-holder {
  margin-bottom: 0;
  text-transform: uppercase;
  @media (max-width: 767px) {
    text-transform: none;
  }
  &.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .nav {
    @extend %reset-list;
    @include clearfix();
    position: static;
    @media (max-width: 767px) {
      padding-top: 63px;
      &.pull-right {
        float: none !important;
        clear: both;
      }
    }
    li {
      margin-left: 20px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      padding-top: 30px;
      @media (max-width: 767px) {
        margin-left: 0;
        padding-top: 0;
        &:first-child {
          a {
            border-top: none;
          }
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
      a {
        padding: 0;
        text-shadow: none;
        color: $black;
        text-decoration: none;
        @include transition(color, 0.2s ease);
        @media (max-width: 767px) {
          color: $white;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid #232323;
          border-top: 1px solid #3d3d3d;
          line-height: 16px;
          &:active {
            background: $black;
          }
        }
        &:hover {
          color: $blue;
          background: none;
          @media (max-width: 767px) {
            text-decoration: none;
            background: $black;
          }
        }
        .header-bgnd & {
          color: $white;
        }
      }
      &.active {
        @media (max-width: 767px) {
          border-top: none;
          padding-top: 0;
        }
        a {
          background: none;
          @include box-shadow(none);
          color: $blue;
          @media (max-width: 767px) {
            background: $black;
          }
          &:hover {
            @include box-shadow(none);
            background: none;
            color: $blue;
            @media (max-width: 767px) {
              background: $black;
            }
          }
        }
      }
      &.blog-page {
        a {
          background: none;
          @include box-shadow(none);
          color: $blue;
          &:hover {
            background: none;
            color: $blue;
            @include box-shadow(none);
          }
        }
      }
    }
  }
}

.blog-nav-wrap {
  margin: 38px 0 0;
  height: 40px;
  @media (min-width: 768px) and (max-width: 991px) {
    margin: 14px 0 0;
  }
  @media (max-width: 767px) {
    height: auto;
  }
}

.blog-nav {
  padding: 8px 0;
  background: rgba(0,0,0, 0.5);
  @include transition(background 0.2s ease-in-out);
  &.affix {
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0,0,0, 1);
  }
  .nav {
    margin: 0 auto;
    float: none;
    li {
      margin-left: 16px;
      padding-top: 0;
      display: inline-block;
      float: none;
      &:first-child {
        margin-left: 0;
      }
      &.current-post-parent {
        a {
          color: $blue;
          &:hover {
            color: $blue;
          }
        }
      }
      a {
        color: $white;
      }
    }
  }
}

/* Mobile nav*/
.mob-menu-trigger {
  cursor: pointer;
  display: none;
  z-index: 9999;
  @media (max-width: 767px) {
    display: inline-block;
    position: absolute;
    top: -52px;
    right: 15px;
    z-index: 9999;
  }
  &.btn {
    padding: 0 0 5px 0;
    width: 30px;
    @include border-radius(0);
    border: none;
    @include box-shadow(none);
    background: none;
    &:focus {
      outline: 0;
    }
    &:hover {
      @include opacity(0.6);
    }
  }
  .icon-bar {
    @include transition(0.3s);
    background: $black;
    height: 3px;
    width: 30px;
    display: inline-block;
    position: relative;
    &:before,
    &:after {
      @include transition(0.3s);
      display: inline-block;
      width: 30px;
      height: 3px;
      background: $black;
      content: '';
      left: 0;
      position: absolute;
      transform-origin: 2.14286px center;
      transform: rotate(0deg);
    }
    &:before {
      top: 8px;
    }
    &:after {
      top: -8px;
    }
    .mob-menu-toleft & {
      background: transparent;
      &:after,
      &:before {
        top: 0;
        left: 0;
        transform-origin: 50% 50%;
      }
      &:before { transform: rotate(45deg); }
      &:after { transform: rotate(-45deg); }
    }
  }
  &.active {
    @media (max-width: 767px) {
      top: 28px;
      position: fixed;
    }
    .icon-bar {
      background: $white;
      .mob-menu-toleft & {
        background: transparent;
      }
      &:before,
      &:after {
        background: $white;
      }
    }
  }
  &.white-trigger {
    .icon-bar {
      background: $white;
      .mob-menu-toleft & {
        background: transparent;
      }
      &:before,
      &:after {
        background: $white;
      }
    }
  }
}

@media (max-width: 767px) {
  .mob-menu-nav {
    position: fixed;
    background: #333;
  }

  .mob-menu-vertical {
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }

  .mob-menu-right {
    right: -200px;
    &.mob-menu-open {
      right: 0;
      overflow: auto;
    }
  }
}

.mob-menu {
  position: relative;
  right: 0;
}

.mob-menu-toleft {
  right: 200px;
  overflow: hidden;
}

.mob-menu,
.mob-menu-nav {
  @include transition(all 0.2s ease);
}
