///// Menu styling /////
// -----------------------------------------------------------------------------
.nav-holder {
  margin-bottom: 0;
  font-family: $fontAlpha;
  text-transform: uppercase;
  &.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .nav {
    position: static;
    @include reset-list();
    @include clearfix();
    li {
      margin-left: 20px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding-top: 35px;
      a {
        padding: 0;
        text-shadow: none;
        color: $black;
        text-decoration: none;
        @include transition(color, 0.2s ease);
        &:hover {
          color: $blue;
          background: none;
        }
        .header-bgnd & {
          color: $white;
        }
      }
      &.active {
        a {
          background: none;
          @include box-shadow(none);
          color: $blue;
          &:hover {
            background: none;
            color: $blue;
            @include box-shadow(none);
          }
        }
      }
    }
  }
}

/* Mobile nav*/
.mob-menu-trigger {
  cursor: pointer;
  display: none;
  z-index: 9999;
  &.btn {
    padding: 0 0 5px 0;
    width: 30px;
    @include border-radius(0);
    border: none;
    @include box-shadow(none);
    background: none;
    &:focus {
      outline: 0;
    }
    &:hover {
      @include opacity(0.6);
    }
  }
  .icon-bar {
    @include transition(0.3s);
    background: $black;
    height: 3px;
    width: 30px;
    display: inline-block;
    position: relative;
    &:before,
    &:after {
      @include transition(0.3s);
      display: inline-block;
      width: 30px;
      height: 3px;
      background: $black;
      content: '';
      left: 0;
      position: absolute;
      transform-origin: 2.14286px center;
      transform: rotate(0deg);
    }
    &:before {
      top: 8px;
    }
    &:after {
      top: -8px;
    }
    .mob-menu-toleft & {
      background: transparent;
      &:after,
      &:before {
        top: 0;
        left: 0;
        transform-origin: 50% 50%;
      }
      &:before { transform: rotate(45deg); }
      &:after { transform: rotate(-45deg); }
    }
  }
  &.active {
    .icon-bar {
      background: $white;
      .mob-menu-toleft & {
        background: transparent;
      }
      &:before,
      &:after {
        background: $white;
      }
    }
  }
  &.white-trigger {
    .icon-bar {
      background: $white;
      .mob-menu-toleft & {
        background: transparent;
      }
      &:before,
      &:after {
        background: $white;
      }
    }
  }
}
