///// Side social icons styling /////
// -----------------------------------------------------------------------------
.side-social {
  margin-top: 10px;
  a {
    display: inline-block;
    @include transition(color 0.2s ease-in-out);
    font-size: 26px;
    color: #777;
    margin-right: 20px;
    &:hover {
      color: $black;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
