///// Mixin for styling common footer icon style. Icons are retina optimized /////
// -----------------------------------------------------------------------------
@mixin icon-footer($size, $icon_location) {
	display: inline-block;
  width: $size;
  height: $size;
  line-height: $size;
  vertical-align: top;
  background-image: url("#{$icon_location}-footer.png");
  background-position: -2000px -2000px;
  background-repeat: no-repeat;
}