// Typography styling
// ------------------
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: $title;
  font-weight: normal;
  font-family: $fontAlpha;
}

h1 {
  font-size: $heading_1;
  line-height: 50px;
  margin-bottom: 14px;
  color: $white;
}

h2 {
  font-size: $heading_2;
  line-height: 32px;
  padding-bottom: 10px;
}

h3 {
  font-size: $heading_3;
  line-height: $line_h;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-size: $heading_4;
  line-height: $line_h;
  padding-bottom: 7px;
  font-weight: 500;
}

h5 {
  font-size: $heading_5;
  line-height: $line_h;
}

h6 {
  font-size: $heading_6;
  line-height: $line_h;
}

p {
  margin: 0 0 24px 0;
}

a {
  color: $link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $link;
  }
}
