// Author styling
// --------------
.author-posts {
  @extend %reset-list;
  overflow: hidden;
  width: 105%;
  margin-top: 15px;
  li {
    float: left;
    border: 1px solid $commentBorder;
    padding: 10px;
    box-sizing: border-box;
    @include gradient-vertical($extraLight, $offWhite);
    width: 46%;
    margin-right: 3%;
    &.entry {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 21px;
      padding-bottom: 18px;
      h2 {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 25px;
        span {
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }
}

.author-image {
  float: left;
  margin-right: 20px;
  img {
    @include border-radius(50px);
  }
}

.author {
  margin-top: 21px;
  border-top: 4px solid $blue;
  padding: 30px 0 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.author-text {
  overflow: hidden;
  zoom: 1;
  h3 {
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    border-bottom: none;
    padding-bottom: 0;
    font-family: $fontTitleTempCondensed;
  }
  .social-links {
    padding-bottom: 0;
  }
  p {
    font-size: 14px;
    line-height: 21px;
  }
}
