// Form styling
// ------------
.contact-form {
  margin-bottom: 35px;
  margin-top: 20px;
  .privacy {
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
  }
}

.form-list {
  @include reset-list();
  li {
    margin-bottom: 26px;
    input {
      margin-bottom: 0;
      @include border-radius(0);
      @include box-shadow(none);
      background: $offWhite;
      border: 1px solid $catDescBgnd;
      height: 36px;
      line-height: 20px;
      padding: 5px;
      font-size: 13px;
      color: $text;
      @include placeholder($fTextGray);
    }
    br {
      display: none;
    }
    select {
      margin-bottom: 0;
      height: 36px;
      color: $text;
      line-height: 20px;
      padding-top: 8px;
      @include placeholder($fTextGray);
      font-size: 13px;
    }
    .note {
      display: block;
      font-size: 12px;
      color: $textGray;
      text-align: right;
    }
    .wpcf7-form-control-wrap {
      display: block;
    }
  }
}
label {
  font-weight: bold;
  margin-bottom: 1px;
  line-height: 18px;
  font-size: 12px;
  .required {
    color: $red;
  }
}
textarea {
  &.form-control {
    margin-bottom: 30px;
    @include border-radius(0);
    @include box-shadow(none);
    background: $offWhite;
    border: 1px solid $catDescBgnd;
    font-size: 13px;
    color: $text;
    padding: 5px;
    @include placeholder($fTextGray);
    &.contact-text {
      margin-bottom: 0;
    }
  }
}
