// Social styling
// --------------
.top-header {
  .social-list {
    @include clearfix();
    padding: 42px 0 0;
    float: right;
    ul {
      @include reset-list();
      @include clearfix();
      li {
        float: left;
        margin-left: 10px;
        a {
          display: block;
          i {
            margin: 0;
            font-size: 20px;
            color: $white;
          }
        }
      }
    }
  }
}

.footer {
  ul {
    @include reset-list();
    margin-bottom: 20px;
    li {
      a {
        color: $gray;
      }
    }
    &.social-footer {
      li {
        margin-bottom: 4px;
        a {
          display: inline-block;
          line-height: 16px;
          height: 16px;
          i {
            margin: 0 4px 0 0;
            @include opacity(0.55);
            @include transition (opacity 0.3s ease);
            font-size: 16px;
            width: 16px;
            text-align: center;
          }
          &:hover {
            i {
              @include opacity(1);
            }
          }
          &:active {
            i {
              @include opacity(1);
            }
          }
        }
      }
    }
  }
}
