// Mixin configuration
// -------------------

// Opacity
// -------
@mixin opacity($opacity) {
  opacity: $opacity / 1;
  filter: alpha(opacity=$opacity);
}

// Border radius
// -------------
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Background size
// ---------------
@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  -ms-background-size: $size;
  background-size: $size;
}
