// Footer styling
// --------------
.footer {
  background: #1e2124;
  color: $footerText;
  &.footer-small {
    height: 167px;
  }
  @media (max-width: 411px) {
    height: auto;
  }
  p {
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
  }
}
