// Footer styling
// --------------
.footer {
  // background: $footerBgnd;
  background: #1e2124;
  height: 167px;
  color: $footerText;
  p {
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
  }
}
