///// Convincer styling /////
// -----------------------------------------------------------------------------
.convincer {
  padding-top: 78px;
  padding-bottom: 78px;
  background: url('../images/convincer-bgnd.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  h5 {
    line-height: 30px;
    color: $white;
    font-size: 20px;
    font-family: $fontTitleLight;
  }
  .convincer-image {
    display: none;
    margin-top: 10px;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .badge-wrap {
    margin: 0 auto 30px auto;
    width: 304px;
    ul {
      @include reset-list();
      @include clearfix();
      li {
        float: left;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &.big {
    background: url('../images/convincer-bgnd.jpg') no-repeat 0 0 fixed;
    text-align: center;
    background-size: cover;
    padding-top: 176px;
    margin-top: -83px;
    padding-bottom: 93px;
    h1 {
      margin-bottom: 33px;
      text-shadow: 0 0 30px $black;
    }
    h5 {
      margin-bottom: 28px;
      padding: 0 120px;
      text-shadow: 0 0 20px $black;
    }
    .more-scroll {
      i {
        @include opacity(0.5);
        @include transition(opacity 0.3s ease-in-out);
      }
      &:hover {
        i {
          @include opacity(1);
        }
      }
    }
  }
}
