///// Content styling and all small things inside content /////
// -----------------------------------------------------------------------------
.content {
  padding: 50px 0 70px 0;
  #more-info & {
    padding: 0;
  }
  h3 {
    padding-bottom: 9px;
  }
  h4 {
    i {
      margin-right: 11px;
    }
  }
  .main-block {
    padding-bottom: 26px;
    img {
      margin-top: 6px;
    }
  }
  .bordered {
    border-left: 1px dashed $bordered;
    padding-left: 15px;
    ul {
      @include reset-list();
      li {
        margin-bottom: 30px;
        h3 {
          padding-bottom: 0;
        }
        p {
          font-size: 12px;
        } 
      }
    }
  }
}

.equal {
  padding-bottom: 1px;
  img {
    margin-bottom: 12px;
  }
  a {
    display: inline-block;
  }
  p {
    margin-bottom: 15px;
  }
}

.tnx-block {
  text-align: center;
  margin: 60px 0 0 0;
  h1 {
    font-size: 32px;
    line-height: 36px;
    color: $title;
  }
}

.photo {
  img {
    @include border-radius(120px);
    margin: 0 auto;
    width: 240px;
  }
}

.visible-phone {
  .photo {
    margin-right: 10px;
    margin-bottom: 10px;
    img {
      @include border-radius(50px);
      margin: 0;
      width: 100px;
    }
  }
}

.about-block {
  .pull-left {
    margin-right: 20px;
  }
}