///// Convincer styling /////
// -----------------------------------------------------------------------------
.convincer {
  padding-top: 78px;
  padding-bottom: 78px;
  background: url('../images/convincer-bgnd.jpg') no-repeat center center fixed;
  background-size: cover;

  text-align: center;
  h1 {
    font-family: $webFont;
  }
  h5 {
    line-height: 30px;
    color: $white;
    font-size: 20px;
    font-family: $webFont;
  }
  &.big {
    background: url('../images/convincer-bgnd.jpg') no-repeat center center fixed;
    text-align: center;
    background-size: cover;
    padding-top: 176px;
    margin-top: -84px;
    padding-bottom: 93px;
    position: relative;
    h1 {
      margin-bottom: 33px;
    }
    h5 {
      margin-bottom: 28px;
      padding: 0 120px;
    }
    .more-scroll {
      color: $white;
      &:hover {
        color: $white;
      }
      i {
        @include opacity(0.5);
        @include transition(opacity 0.3s ease-in-out);
      }
      &:hover {
        i {
          @include opacity(1);
        }
      }
    }
  }
}

.button-group {
  margin-bottom: 39px;
  a {
    @include transition(border 0.2s ease-in-out, background 0.2s ease-in-out);
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 20px 11px;
    font-family: $webFont;
    font-weight: 500;
    margin: 0 4px;
    background: rgba(0,0,0, 0.5);
    color: $white;
    border: 1px solid transparent;
    &:hover {
      text-decoration: none;
      color: $white;
      border: 1px solid $white;
      background: rgba(0,0,0, 0.7);
    }
  }
}
