///// Menu styling /////
// -----------------------------------------------------------------------------
.nav-holder {
  margin-bottom: 0;
  font-family: $fontTitle;
  font-size: 15px;
  text-transform: uppercase;
  &.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .nav {
    position: static;
    @include reset-list();
    @include clearfix();
    li {
      margin-left: 20px;
      font-size: 16px;
      line-height: 20px;
      padding-top: 35px;
      a {
        padding: 0;
        text-shadow: none;
        color: $black;
        text-decoration: none;
        @include transition(color, 0.2s ease);
        &:hover {
          color: $blue;
          background: none;
        }
        .header-bgnd & {
          color: $white;
        }
      }
      &.active {
        a {
          background: none;
          @include box-shadow(none);
          color: $blue;
          &:hover {
            background: none;
            color: $blue;
            @include box-shadow(none);
          }
        }
      }
    }
  }
}

/* Mobile nav*/
.mob-menu-trigger {
  display: none;
  z-index: 9999;
  &.btn {
    padding: 0;
    width: 38px;
    @include border-radius(0);
    border: none;
    @include box-shadow(none);
    background: none;
    &:focus {
      outline: 0;
    }
  }
  .icon-bar {
    background: $black;
    height: 3px;
    width: 38px;
    margin: 0 0 6px 0;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.white-trigger {
    .icon-bar {
      background: $white;
    }
  }
  &:hover,
  &:active {
    .icon-bar {
      background: $blue;
    }
  }
  &.active {
    .icon-bar {
      background: $blue;
    }
  }
}
