///// Footer social styling /////
// -----------------------------------------------------------------------------
.footer-social {
  @include reset-list();
  text-align: center;
  margin: 25px 0 17px 0;
  li {
    margin-right: 20px;
    display: inline-block;
  }
  a {
    @include transition(color 0.2s ease-in-out);
    font-size: 26px;
    color: rgba(255,255,255, 0.6);
    &:hover {
      color: rgba(255,255,255, 1);
    }
  }
}
